# EditorConfig is awesome:
# http://EditorConfig.org

root = true

[{src/*,gulpfile.js,package.json,index.js}]
end_of_line = lf
insert_final_new_line = true
charset = utf-8

[{gulpfile.js,package.json,index.js}]
indent_style = space
indent_size = 2

[src/**.html]
indent_style = tab
indent_size = 2

[src/{styl/**.styl,js/**.js}]
indent_style = space
indent_size = 2
