@import 'mesh.css';
@import '../vendor/chico/dist/mobile/chico.css';
@import '../vendor/chico/dist/ui/chico.css';

// global
.wrapper
  margin 0 auto
  max-width 1200px
  padding-top 2em

// basic
hr
  margin 1em 0

.ch-expandable-trigger-on:after
  content ""

.ch-carousel
  overflow-y hidden
  .ch-carousel-disabled
    display block
    color #CCC
    cursor not-allowed

  li
    border 1px solid #BEBEBE
    height 75px
    width 75px
    padding 2px

    img
      width 70px
      height 70px

// product widget
.product
  // product widget forms
  .ch-form
    .ch-form-row
      padding-bottom 0

    label
      text-align left
      width 5em

    select
      width 4em
      margin-bottom 0
      padding-top 0
      height 28px
      display inline-block

  .product__title
    font-size 2em

  .product__figure
    border 1px solid #CCC
    text-align center
    width 100%
    height 300px
    position relative

    .product__image
      width auto
      max-width 100%
      max-height 100%
      margin 0 auto

    .nocopy
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      cursor default

  .product__price
    margin-top .2em
    font-size 2.5em

  .product__warning
    margin-top .3em

  .product__buybutton
    margin-top 1em

// tabs
// aria
[role='tablist']
  [aria-selected='true']
    background-color #f0f0f0
    background-image linear-gradient(#f0f0f0, #fff)
    border-bottom 1px solid #fff
    cursor default
    font-weight bold
    box-shadow 2px 0 2px rgba(255, 255, 255, 0.5)

#tab-content-questions:target,
#tab-content-description:target
  display block

